[MESSAGES CONTROL]

disable=
    attribute-defined-outside-init,
    cell-var-from-loop,
    invalid-name,
    len-as-condition,
    no-else-return,
    too-few-public-methods,
    too-many-branches,
    too-many-locals,
    useless-object-inheritance,
    useless-super-delegation
